telegram-folders.config.json
*.session
*.session-*

node_modules

telegram-auto.session
folder_rules.json
# dialogs_snapshot.json
__pycache__
*.session
# classified_dialogs.json
.idea
telegram-auto

classified_dialogs.json
dialogs_snapshot.json
unfiltered_dialogs.json

